data/anderson/generated_files/anderson.6.dve                100000    10000000
data/peterson/generated_files/peterson.3.dve                100000    1000000
data/peterson/generated_files/peterson.4.dve                500000    1000000
data/brp/generated_files/brp.5.dve                          1000000   100000000
data/cambridge/generated_files/cambridge.6.dve              200000    1000000
data/leader_election/generated_files/leader_election.5.dve  800000    1000000
data/elevator/generated_files/elevator.4.dve                100000    1000000
data/adding/generated_files/adding.6.dve                    5000000   10000000
